<!-- your html code here -->
<div class="container">
  <div class="row bg-light">
    <h1 class="col-12">Portfolio</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div class="row bg-light">
    <div class="card cardOne col-4 border border-light">
      <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>
  <div class="card cardTwo col-4 ms-auto border border-light">
      <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>
    <div class="card cardThree col-4 ms-auto border border-light">
      <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>
</div>
</div>
