
<div class=" container d-flex bg-white py-4">
  <img src="../website/assets/img/2.jpg" class="rounded-circle" />

  <div class="headerTitle">
    <h1>
      The Second Heading
      <span class="text-secondary"> Is Pretty Cool Too.</span>
    </h1>

    <p>
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
      porta felis euismod semper. Praesent commodo cursus magna, velscelerisque
      nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
  </div>
</div>
